#gameViewport
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 405px;
    height: 720px;
    display: block;
    position: relative;
}

#gameUI
{
    position: absolute;
    top: 0%;
}

canvas
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}